@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '../tailwind/components.css';

@layer base {
  :root {
    --color-primary: theme('colors.primary');
    --color-info: theme('colors.info');
    --color-success: theme('colors.success');
    --color-warning: theme('colors.warning');
    --color-error: theme('colors.error');
  }

  html {
    font-family: var(--font-dm-sans);
  }
}
